In [6]:
import pandas as pd
import numpy as np

In [3]:
ocupacio_df = pd.read_csv("Ocupacio_enginyeria.csv")
kwh_df = pd.read_csv("kWhperh_Humanitats.csv")

First try to look for the classrooms that correlate with higher energy consumption.

In [8]:
classrooms = np.unique(ocupacio_df["Espai"])
classrooms

array(['Q1/0003', 'Q1/0007', 'Q1/0019', 'Q1/1003', 'Q1/1007', 'Q1/1011',
       'Q2/0007', 'Q2/0011', 'Q2/0013', 'Q2/0019', 'Q2/1003', 'Q2/1005',
       'Q2/1009', 'Q2/1013', 'Q3/0003', 'Q3/0009', 'Q3/0013', 'Q3/1003',
       'Q3/1007', 'Q3/1011', 'Q4/0003', 'Q4/0007', 'Q4/0011', 'Q4/1003',
       'Q4/1005', 'Q4/1009', 'Q4/1013', 'Q5/2006', 'Q6/2007', 'QC/0011',
       'QC/0015', 'QC/0019', 'QC/0029', 'QC/3115.1', 'QC/3115.2',
       'QC/3115.3', 'QC/3115.4', 'QC/3115.5'], dtype=object)

In [11]:
ocupacio_df[ocupacio_df["Espai"]==classrooms[0]]["Hora inicial"]

32      09:00
67      09:00
103     09:00
115     09:30
133     10:30
167     11:00
199     10:00
362     15:00
523     12:00
1022    12:00
1163    09:00
2719    08:00
Name: Hora inicial, dtype: object

In [12]:
kwh_df

      Unnamed: 0        Date   Hour L-Bibl.Humanitats (General) [kWh]
0              0  01/01/2022  00:00                              5,35
1              1  01/01/2022  01:00                              4,64
2              2  01/01/2022  02:00                              4,87
3              3  01/01/2022  03:00                              5,43
4              4  01/01/2022  04:00                              4,81
...          ...         ...    ...                               ...
8011        8011  30/11/2022  19:00                             80,70
8012        8012  30/11/2022  20:00                             37,12
8013        8013  30/11/2022  21:00                             24,40
8014        8014  30/11/2022  22:00                              6,38
8015        8015  30/11/2022  23:00                              6,86

[8016 rows x 4 columns]